.form-group-style {
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}

.result {
    color: rgb(245, 22, 22);
    font-weight: bold;
    font-style: italic;
}

.error-icon {
    border-radius: 0.2rem;
    background-color: red;
    color: white;
    padding: 0.5rem;
}

.modal-title{
    text-align: center !important;
}

.modal-body-result {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.success-icon {
    background-color: #a2e9a2;
    padding: 0.7rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
}